*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* includes the height and padding of the element */
}

body
{
    -webkit-font-smoothing: antialiased; /* antialiased text for Chrome */
    -moz-osx-font-smoothing: grayscale; /* This is needed for Firefox on OS X */
    text-rendering: optimizeLegibility; /* this makes text legible in Chrome, Safari and IE */
}

/* hidden items for the mobile */

.main-container
{
    font-family: "Roboto", sans-serif;
}

.main-container nav .menu-button,
.mobile-menu-items /* this will hide the x button and the above one for the meni bar */
{
    display: none;
}

.main-container video
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;   
}

.main-container .bg-overlay 
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #000;
    opacity: 0.8;
}

.main-container nav
{
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto; /*0 for top and bottom while auto for the left and right margin*/
    padding: 24px 32px;
}

.main-container nav .logo a
{
    text-decoration: none;
    color: #fff;
    font-size: 24px;
}

.main-container nav ul
{
    display: flex;
    gap: 40px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-container nav ul a
{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    
}